{% extends "@App/Layouts/layout_base.html.twig" %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('assets/js/custom/username-test.js')}}"></script>
{% endblock %}
{% block content %}
	<div class="col-lg-8 form-box">
		<h2>Contacto</h2>
		{{form(my_form)}}
	</div>
{% endblock %}