{% extends "@App/Layouts/layout_base.html.twig" %}

{% block javascripts %}
	{{ parent() }}
	<script src="https://cdn.jsdelivr.net/npm/@magenta/music@1.1.7"></script>
	<script src='https://cdn.jsdelivr.net/npm/file-saver'></script>
{% endblock %}
{% block content %}
	<div class='music-box col-lg-6'>
		<div id='message'>Loading model...</div>
		<div id='chords'>
			<table><tr>
					<td><input id='chord1' type='text' value='C'></td>
					<td><input id='chord2' type='text' value='G'></td>
					<td><input id='chord3' type='text' value='Am'></td>
					<td><input id='chord4' type='text' value='F'></td>
				</tr></table>
		</div>
		<br>
		<input class="btn btn-success" id='play'   type='button'  value='Play'     disabled>
		<input class="btn btn-success" id='download' type='button'  value='Download' disabled>
	</div>
	<script src="{{ asset('assets/js/custom/music.js')}}"></script>

	<div class="default-box col-lg-6" id="new-melody">
		{{form_start(form, {action: '', 'method': 'POST'})}}
		{{form_end(form)}}
	</div>
{% endblock %}
