{% extends "@App/Layouts/layout_base.html.twig" %}
{% block content %}
	<div class="col-lg-6 form-box">
		<h2>
			<i class="fa fa-exclamation-triangle"></i>
			¡Adiós!
		</h2>
		<hr/>
		<p>Gracias por haber formado parte de la comunidad MeloDJ, esperamos verte pronto.</p>
	</div>
{% endblock %}
