{% extends "@App/Layouts/layout_base.html.twig" %}
{% block content %}
	<div class="col-lg-6 form-box">
		<h2>
			<i class="fa fa-exclamation-triangle"></i>
			Error
		</h2>
		<hr/>
		<p>No existe ningún usuario con esa dirección de correo electrónico.</p>
	</div>
{% endblock %}
