{% extends "@App/Layouts/layout_base.html.twig" %}
{% block content %}
	<div class="col-lg-6 form-box">
		<h2>Recuperar contraseña</h2>
		<hr/>
		
		{{form_start(form, {'action':'', 'method':'POST'})}}
		{{form_errors(form)}}
		{{form_end(form)}}
	</div>
{% endblock %}