{% extends "@App/Layouts/layout_base.html.twig" %}
{% block content %}
	<div class="col-lg-4 form-box">
		<h2>Recuperación</h2>
		<hr/>
		<p>Introduzca el email asociado a la cuenta para enviar el correo electrónico con la clave de recuperación</p>
		{{form(form)}}
	</div>
{% endblock %}
